# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# SQLite
*.db
*.sqlite3

# Python cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Misc
*.tmp